*~
*.pyc
*.class
tmp*
*.tmp
scratch/
tax/gbif
tax/ncbi
tax/ott
tax/prev_ott
feed/*/in/
feed/*/out/
lib
study_tree_pairs.txt
feed/misc/chromista_spreadsheet.py
diff.out
tax/silva
tax/worms
tax/ncbi
tax/gbif
tax/irmng
tax/fung
t/tax/aster
service/service.config
service/service.pid
service/nohup.out
service/taxonomy
service/synth
ws-tests/.out*
bin/jython
bin/smasher
.DS_Store
TAGS
feed/amendments/amendments-1
t/feed/amendments/amendments-0
feed/silva/work
feed/gbif/work
tarballs
*-tmp
doc/method/out/*
new_taxa/need_ids.json
t/new_taxa
t/feed/amendments
service/*.tre
ott_id_list/*.csv
old
tax/gbif.2013
ott_id_list/ott_id_list
ott_id_list/test_otts
feed/gbif/in_2013
doc/method/data-package/file
doc/method/draft.html
doc/method/supplementary
feed/ott_id_list
new_taxa/addition*.json
