*~
*.pyc
*.class
tmp*
*.tmp
dep-tmp.tsv
feed/*/in/
feed/*/out/
feed/misc/chromista_spreadsheet.py
feed/ncbi/taxdump.tar.gz
ids_report.tsv
lib/json-simple-1.1.1.jar
lib/jython-standalone-2.5.3.jar
t/tax/aster/
tax/gbif/
tax/if/
tax/irmng/
tax/ncbi/
tax/ott/
tax/prev_ott/
tax/silva/
