*~
*.pyc
*.class
tmp*
*.tmp
scratch/
tax/gbif
tax/ncbi
tax/ott
tax/prev_ott
feed/*/in/
feed/*/out/
lib
study_tree_pairs.txt
feed/misc/chromista_spreadsheet.py
diff.out
tax/silva
tax/worms
tax/ncbi
tax/gbif
tax/irmng
tax/fung
t/tax/aster
service/service.config
service/service.pid
service/nohup.out
service/taxonomy
service/synth
ws-tests/.out*
bin/jython
bin/smasher
.DS_Store
TAGS
feed/amendments/amendments-1
t/feed/amendments/amendments-0
feed/silva/work
tarballs
*-tmp
